data
data-legacy
model
output
.idea

gs3d/output-v0

captures
legacy-*
rendered-video
sugar_mesh
experiments-agg-*
experiment_quant
__pycache__

data-local
data-ref
exp-qual-*

results
results-interpolate
*.csv

nerf-lego-reproduction